#ticker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  // padding-top: 2px;
  min-height: 55px;

  .img {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    background-image: url("https://static.bitfinex.com/images/icons/BTC-alt.svg");
    -webkit-filter: saturate(0) brightness(180%);
    filter: saturate(0) brightness(180%);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    display: block;
  }

  .ticker-price {
    &:nth-child(2) {
      font-size: 0.8rem;
    }
  }
}
